<div class='container  display'>
  <h2>{{pageTitle}}</h2>
  {{#if hasProducts }}
  {{!-- <div class="gridProducts"> --}}
  <table id='tableProducts' class='container table table-sm table-striped table-hover >
    <thead>
      <tr class=' center'>
    <th>Product Name</th>
    <th>Price</th>
    <th>Qty</th>
    </tr>
    </thead>
    {{!-- <ul> --}}
    <tbody>
      {{#each products}}
      <tr>
        {{!-- <div class='control'> --}}
        {{!-- <li> --}}
        <td>
          <a href="/products/{{this.id}}">{{this.name}}</a>
        </td>
        <td class='right'>$ {{this.price}}</td>
        <td class='right'>{{this.inventory}}</td>

        {{!-- </li> --}}
        {{!-- </div> --}}
      </tr>
      {{/each}}
    </tbody>
    {{!-- </ul> --}}
  </table>
</div>
{{else }}
<p class='warning'>No products found.</p>
{{/if }}
<form action='/products/new' method="GET">
  <div class='control button'>
    <button type='submit'>Add New
      Product</button>
  </div>
</form>
</div>
{{> footer}}